{
    "openapi": "3.0.0",
    "info": {
        "title": "FitPass HOPn API Documentation",
        "description": "API Documentation for the FitPass HOPn Platform",
        "contact": {
            "email": "your-email@example.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Main API Server"
        }
    ],
    "paths": {
        "/api/v1/admin/stats/platform-overview": {
            "get": {
                "tags": [
                    "Super Admin - Analytics"
                ],
                "summary": "Get a high-level overview of the entire platform",
                "operationId": "f37165ef59a6f69d2a1d94afbb847ca4",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/stats/company-activity": {
            "get": {
                "tags": [
                    "Super Admin - Analytics"
                ],
                "summary": "Get a summary of activity for each company",
                "operationId": "d6faa06c675626e6565a092e72408b2d",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/stats/partner-performance": {
            "get": {
                "tags": [
                    "Super Admin - Analytics"
                ],
                "summary": "Get performance stats for all partners",
                "operationId": "fc8e85707516ce73d6dddf4f55174d74",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Authenticate user and return API token",
                "description": "//",
                "operationId": "bae68d1c55329ecb6e41f48285840c8f",
                "requestBody": {
                    "description": "User credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password",
                                    "device_name"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "hr@fitpass.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password"
                                    },
                                    "device_name": {
                                        "description": "Identifier for the client device/application",
                                        "type": "string",
                                        "example": "Chrome Browser"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Login successful."
                                        },
                                        "data": {
                                            "properties": {
                                                "token": {
                                                    "type": "string",
                                                    "example": "1|Abcdefghijklmnopqrstuvwxyz123456"
                                                },
                                                "user": {
                                                    "$ref": "#/components/schemas/UserResource"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error or invalid credentials"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/v1/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout user (invalidate current token)",
                "description": "//",
                "operationId": "c5cdd87fdbf9d0f95dede875bd023dec",
                "responses": {
                    "200": {
                        "description": "Successfully logged out",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Successfully logged out."
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/company/stats/usage-summary": {
            "get": {
                "tags": [
                    "Company Admin - Analytics"
                ],
                "summary": "Get usage summary for the admin's company",
                "operationId": "8381bbc806cc1fa4530d55ffac2f1902",
                "parameters": [
                    {
                        "name": "start_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2025-10-01"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2025-10-31"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/company/stats/checkins-by-partner": {
            "get": {
                "tags": [
                    "Company Admin - Analytics"
                ],
                "summary": "Get check-in counts per partner for the admin's company",
                "operationId": "6aac93530187651163f28e043f0a93aa",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "UserResource": {
                "title": "User Resource",
                "description": "User model representation",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "HR Admin"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "hr@fitpass.com"
                    },
                    "role": {
                        "type": "string",
                        "enum": [
                            "employee",
                            "hr_admin",
                            "super_admin"
                        ],
                        "example": "hr_admin"
                    },
                    "email_verified_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "null",
                        "nullable": true
                    },
                    "company_id": {
                        "type": "integer",
                        "example": 1,
                        "nullable": true
                    },
                    "membership_plan_id": {
                        "type": "integer",
                        "example": 3,
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-26T11:04:40.000000Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-26T11:04:40.000000Z"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "description": "Enter token in format (Bearer <token>)",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Super Admin - Analytics",
            "description": "Super Admin - Analytics"
        },
        {
            "name": "Authentication",
            "description": "Authentication"
        },
        {
            "name": "Company Admin - Analytics",
            "description": "Company Admin - Analytics"
        }
    ]
}